
{% load static %}
<header>
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'icons/home.svg' %}" alt="home" class='ico'>
            9teendrawingstory
        </a>
    </div>
    <div class="draw">
        <a href="{% url 'draw'%}" > - Draw -</a>
    </div>  
    {% if user.is_authenticated %}
        <div class="profile-circle">
            <img src="{{ user.avatarlink }}" alt="Profile">
        </div>
        <form action="{% url 'logout' %}" method="post" class="form-button">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <div class="buttons">
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}" class="login">Sign in</a>
        </div>
    {% endif %}


</header> 