{% extends "base/base.html" %}
{% load static %}

{% block title %} 9teendrawingstory {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
{% endblock %}

{% block content %}
    <div class="container">
        <div id="quote" class="quote">Loading quote...</div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>

    <div class="grid">
        {% for image in images %}
        <div class="grid-item">
            <div class="drawing-container">
                <img src="{{ image.imglink }}" alt="{{ image.title }}">
                <div class="avatar-overlay">
                    <img class="avatar-img" src="{{ image.owner.avatarlink }}" alt="User Avatar">
                </div>
            </div>
            <h3>{{ image.title }}</h3>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
