{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/user-profile.css'%}">
{% endblock %}

{% block content %}
<div class="user-profile">
    <div class="profile-card">
        <h1 class="profile-card__title">{{ user.username }}</h1>
        <p class="profile-card__subtitle">{{ user.username }}</p>
        <img class="profile-card__avatar" src="{{ user.avatarlink }}" alt="Avatar for Bart Veneman">
    </div>

    <div class="profile-projects">
        <ol class="cards">
            {% for image in images %}
            <li class="card-item">
                <a class="card" href="{% url 'draw-detail' image.pagelink %}" style="background-image: url('{{ image.imglink }}');">
                    <h4 class="card__title">{{ image.title }}</h4>
                    <p class="card__meta">{{ image.description }}</p>
                </a>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}