{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DRAW</title>
        <link rel="stylesheet" href="{% static "css/draw.css" %}">
    </head>
    <body>
      <div id="loader">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
      <div id='content'>
        <div class="topbar-controls">
          <div class="left-controls">
            <a href="{% url 'index' %}" class="home-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                  <path d="m9 13 3-4 3 4.5V12h4V5c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h8v-4H5l3-4 1 2z"/>
                  <path d="M19 14h-2v3h-3v2h3v3h2v-3h3v-2h-3z"/>
                  <circle cx="50" cy="50" r="40"/>
              </svg>
            </a>
            <input type="color" id="colorPicker" value="#ffffff">
            <input type="range" id="lineWidth" min="1" max="10" value="3">
            <button id="undoBtn" class='undo'></button>
            <button id="redoBtn" class='redo'></button>
            <img src="{% static 'icons/brush.svg' %}" alt="brush" class='ico'>
            <label class="switch">
                <input type="checkbox" id="modeSwitch">
                <span class="slider"></span>
            </label>
            <img src="{% static 'icons/eraser.svg' %}" alt="eraser" class='ico'>
          </div>
          <div class="right-controls">
              <button id="clearBtn" class="clear">Clear</button>
              <button id="openModalBtn" class="save">Save</button>
          </div>
        </div>

        <div id="openModal" class="save-window">
            <div>
              <button id='closeModalBtn' title="Close" class="save-window-close">Close</button>
              <h1>Save your drawing</h1>
              <br>
              <form id="saveDrawing">
                <label for="title">Title</label>
                <br>
                <input type="text" id="title" name="title" class="title" required><br><br>
                <label for="description">Description</label>
                <input type="text" id="description" name="description" class="description" required><br><br>
                <input type="submit" value="Save" class="save-button">
              </form>
            </div>
          </div>
        <canvas id="canvas"></canvas>
        </div>
        <script src="{% static "js/uploadDrawing.js" %}"></script>
        <script src="{% static "js/createDrawing.js" %}"></script>
    </body>
</html>