html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    font-family: monospace;
    font-size: 40px;
    background: #000;
    overflow: hidden;
}
div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 300px;
    z-index: 10;
    text-align: center;
    text-shadow: 0 0 3px #fff;
    cursor: pointer;
}