html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    font-family: monospace;
    font-size: 40px;
    background: #ffffff;
    overflow: hidden;
}

.topbar-controls {
    background: black;
    display: flex;
    gap: 10px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
}

.left-controls {
    display: flex;
    gap: 25px;
    padding-left: 25px;
}

.right-controls {
    display: flex;
    gap: 25px;
    padding-right: 25px;
}

@media (max-width: 480px) {
    .topbar-controls {
        flex-direction: column;
    }

    .left-controls, .right-controls {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}



.save-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    & > div {
      width: 400px;
      position: absolute;
      border-radius: 5%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: rgb(105, 100, 100);
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
    .title, .description {
        height: 25px;
        width: 250px;
    }
    .save-button {
        position: relative;
        background-color: #04AA6D;
        border-radius: 15%;
        border-color: #04AA6D;
        font-size: 28px;
        color: #FFFFFF;
        padding: 10px;
        width: 150px;
        text-align: center;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
      }
  }
  
.save-window.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.save-window-close {
    color: #aaa;
    line-height: 50px;
    font-size: 40%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 90px;
    text-decoration: none;
    &:hover {
        color: black;
    }
}



a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.save-window {
    & > div {
        border-radius: 1rem;
    }
}

.save-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

.logo {
    max-width: 150px;
    display: block;
}

small {
    color: lightgray;
}

.description, .title {
    border: 3px solid transparent;
    transition: border 0.3s ease;
}

.description:focus, .title:focus {
    border: 3px solid #555;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ccc;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.ico {
    width: 32px;
    height: 32px;
}

.undo, .redo {
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 36px;
    border: 3px solid #555;
    transition: all 0.3s ease;
}

.redo {
    margin-right: 30px;
}

.undo {
    margin-left: 30px;
}

.redo::before {
    content: "\276F";
}

.undo::before {
    content: "\276E";
}

  
.redo:hover, .undo:hover {
    border-color: #14519f;
}
  
.redo:hover::after, .undo:hover::after {
    color: #14519f;
}
  

.clear, .save {
    text-decoration: none;
    color: grey;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
   
.clear:hover, .save:hover {
    background-color: #28a745;
    background-color: transparent; 
    color: inherit; 
    text-decoration: none; 
    transition: transform 0.3s ease;
}


.home-icon {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    padding-right: 50px;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#loader.hidden {
    opacity: 0;
    visibility: hidden;
}

#content {
    opacity: 0;
    transition: opacity 1s ease-in;
}

#content.visible {
    opacity: 1;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: wave 1.5s ease-in-out infinite;
  background-color:#37bf57;
}

.ball:nth-child(2) {
    animation-delay: -0.2s;
    background-color:#49caa1;
}

.ball:nth-child(3) {
    animation-delay: -0.4s;
  background-color:#12aab4;
}

.ball:nth-child(4) {
    animation-delay: -0.6s;
  background-color:#2c88c1;
}

.ball:nth-child(5) {
    animation-delay: -0.8s;
    background-color:#6b45b1;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(-30px);
    }
}