@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXoo9Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

header .profile-circle {
    position: absolute;
    top: 10px;  
    right: 100px; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    overflow: hidden; 
    border: 2px solid #fff; 
}

header .profile-circle img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

header {
    font-family: "Bebas Neue", sans-serif;
    background-color: black; 
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .buttons {
    display: flex;
    gap: 15px;
    padding-left: 30px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
header a:hover {
    background-color: #28a745;
}
header .logo a, .draw a {
    background-color: transparent; 
    color: inherit; 
}

header .logo a:hover, .draw a:hover {
    background-color: transparent; 
    color: inherit; 
    text-decoration: none; 
}

header .draw {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease; 
    margin: 0 auto;
}


header .draw:hover {
    transform: scale(1.3);
    color: inherit; 
    text-decoration: none; 
}

header .login {
    background-color: #5A5A5A; 
}

header .login:hover {
    background-color: #6E6E6E;
}

header .form-button {
    display: inline-block;
}

header .form-button button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

header .form-button button:hover {
    background-color: #218838; 
    transform: scale(1.05);
}

header .form-button button:active {
    background-color: #1e7e34; 
    transform: scale(0.98); 
}

header .form-button button:focus {
    outline: none; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ico {
    width: 18px;
    height: 18px;
}
