.quote {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-style: italic; 
    color: #f1c40f; 
    justify-content: center;
    align-items: center;
    
}

body {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    background-color: #262626;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
    padding: 20px;
}

.grid-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}